body {
	height: 100%;
	margin: 0;
	font-family: 'Montserrat', 'sans-serif';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrap {
	margin: 0 20vmin;
	display: flex;
	flex-direction: column;
}

.bpmdisplay {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: right;
}

.bpmdisplay > p {
	margin: 0;
}

#nearestwhole {
	font-size: 30vh;
	font-weight: bold;
}

#average {
	font-size: 5vh;
}

.unit {
	font-size: 24px;
}

* {
	/* border: 1px dotted gray; */
}
